@using MongoDB.Entities;
@using Common.Constants;
@{ 
    var friendList = (IEnumerable<Account>)ViewData["friendList"];
}

<div id="friends" class="sidebar">
    <header>
        <span>Friends</span>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn btn-light" href="#" data-toggle="modal" data-target="#addFriends">
                    <i class="ti-plus btn-icon"></i> Add Friends
                </a>
            </li>
            <li class="list-inline-item d-lg-none d-sm-block">
                <a href="#" class="btn btn-light sidebar-close">
                    <i class="ti-close"></i>
                </a>
            </li>
        </ul>
    </header>
    <form action="">
        <input type="text" class="form-control" placeholder="Search chat">
    </form>
    <div class="sidebar-body" style="overflow: hidden; outline: none;" tabindex="4">
        @if (friendList.Count() == 0)
        {
            <p class="no-friend">Let's make new friend to fun!</p>
        }
        else
        {
            <ul class="list-group list-group-flush friend-list">
                @foreach (var friend in friendList)
                {
                    <li class="list-group-item" data-userid="@friend._id">
                        <div>
                            <figure class="avatar avatar-state-secondary">
                                <img src="@(string.IsNullOrEmpty(friend.Avatar)?Constant.CONST_AVATAR_PATH:friend.Avatar)" class="rounded-circle">
                            </figure>
                        </div>
                        <div class="users-list-body">
                            <h5>@friend.GetFullName()</h5>
                            <p>Lastest message</p>
                            <div class="users-list-action action-toggle">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#">
                                        <i class="ti-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0);" onclick="openChat('@friend._id', '@friend.GetFullName()')" class="dropdown-item">Open Conversation</a>
                                        <a href="#" data-navigation-target="contact-information" class="dropdown-item">Profile</a>
                                        <a href="#" class="dropdown-item">Delete Friend</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>